<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--使用資料庫 相關設定 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		 <!-- JDBC URL --> 
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/mask?useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">0000</property>
		<!-- hibernate 相關效能設定 -->
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="connection_pool_size">1</property>
		<!-- validate | update | create | create-drop 如果沒要用 set value="none". -->
		<!-- validate 程式執行驗證資料對應表相關資料。 update 如果table已存在，就更新，不存在則新增 create 每次執行就自動刪除所有對應的table，再新增所有對應的table 
			create-drop 新增所有對應的table , 程式關閉前刪除所有對應的table -->
		<property name="hbm2ddl.auto">none</property>
		<!-- 是否顯示所有執行的sql -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- 對應資料表 -->
		<mapping class="com.shell.model.Product"></mapping>
	</session-factory>
</hibernate-configuration>